---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <nav>
    <a href="#">Términos de servicio</a>
    <a href="#">Políticas de Privacidad</a>
  </nav>
  <p>&lt;&gt; con ❤️ by DET · {year}</p>
</footer>
